* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Harry P", Poppins, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkslategray;
    color: white;
}

.quizQuestion1, .quizQuestion2, .quizQuestion3, .quizQuestion4, .quizQuestion5{
    display: none;
    width: 700px;
}

.Choixpeau{
    display: none;
    width: 600px;
    z-index: -2;
    margin-top: -0px;
    margin-right: -50px;
}

.quizIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizTitle-Image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoChoipeau {
    width: 200px;
    height: 200px;
    z-index: -1;
    margin-bottom: -90px;
    margin-right:  -370px;

}
.quizStart{
    width: 80%;
    height: 50px;
    background-color:  #253452;
    color: white;
    border: black;
    border-radius: 10px;
    font-size: 25px;
}

.quizTitle, .question1, .question2, .question3, .question4, .question5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    font-size: 40px;
    letter-spacing: 1px;
}

.answerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.btn{
    width: 40%;
    height: 50px;
    background-color:  #253452;
    color: white;
    border: black;
    border-radius: 10px;
    font-size: 22px;
    letter-spacing: 1px;

}
/*-------------------------------------------*/

.quiz{
    display: none;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quizResult{
    display: none;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    letter-spacing: 2px;

}
.TitleResult{
    font-size: 50px;
}
.NameResult{
    font-size: 70px;
}
.EmblemResult{
    width: 300px;
}
